body {
	font-family: Arial, sans-serif;
	padding: 0;
    margin: 0;
	letter-spacing: 0.02em;
	font-size: 22px;
	text-align: center;
	background: url('../img/bg1.jpg');
	background-size: cover;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.operations {
	padding: 3em;
	text-align: start;
	padding: 1em;
	background-color: rgba(72, 58, 124, 0.5);
	border: 1px rgba(20, 10, 30, 1);
	border-radius: 0.4em;
	color:#fff;
	box-shadow: 0 0 0.5em rgb(20, 10, 30);
	text-shadow: 1px 1px 2px black, 0 0 1em rgb(20, 10, 30);
}

.calculator__title {
	line-height: 1.2em;
	padding: 1em;
	background-color: rgba(20, 10, 30, 0.5);
	border: 1px rgba(20, 10, 30, 1);
	border-radius: 0.4em;
	color:#fff;
	box-shadow: 0 0 0.5em rgb(20, 10, 30);
	text-shadow: 1px 1px 2px black, 0 0 1em rgb(21, 11, 31);
	font-size: 2em;
}

